body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:137px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:310px;
  width:56px;
  height:21px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
